// COLORS
$islamic-green: hsl(123, 95%, 36%);
$pastel-green: hsl(125, 55%, 68%);

.heading {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $pastel-green;
  color: #FFF;

  H1 {
    font-size: 5em;
  }
   
  p {
    font-size: 1.5em;
  }
}

a {
  color: $islamic-green;
}

.button, button, input[type='button'], input[type='reset'], input[type='submit'] {
  background-color: $islamic-green;
  border-color: $islamic-green;
}
