// COLORS
$carrot-orange: hsl(29, 90%, 50%);
$corvette: hsl(27, 72%, 70%);

.heading {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $corvette;
  color: #FFF;

  H1 {
    font-size: 5em;
  }
   
  p {
    font-size: 1.5em;
  }
}

a {
  color: $carrot-orange;
}

.button, button, input[type='button'], input[type='reset'], input[type='submit'] {
  background-color: $carrot-orange;
  border-color: $carrot-orange;
}
